/node_modules
/.github/copilot-instructions.md
/cenas.txt
/cenas.md
/DockerCenas
/experiments
.env
bun.lock
apps/desktop/dist/
apps/desktop/out/
apps/desktop/node_modules
apps/server/node_modules
apps/client/node_modules
.DS_Store
*.tsbuildinfo
Thumbs.db
docker-compose.yml
