<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>PulseAudio</string>
    <key>CFBundleIdentifier</key>
    <string>com.pulse.audio.driver</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>PulseAudio</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>AudioServerPlugIn</key>
    <dict>
        <key>Driver Type</key>
        <string>User</string>
    </dict>
    <key>CFPlugInFactories</key>
    <dict>
        <key>B3E4A4B1-2C6F-4F8A-9B5D-7E1A3C8D0F2E</key>
        <string>PulseAudio_Create</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
        <array>
            <string>B3E4A4B1-2C6F-4F8A-9B5D-7E1A3C8D0F2E</string>
        </array>
    </dict>
</dict>
</plist>
